.wrapper{
    border-top: 1px dashed #ccc;
    padding: 10px;
}

.comment{
    font-size: 16px;
    padding-bottom: 10px;
}

.author{
    background: #eee;
    padding: 5px;
    display: inline-block;
}

.btn{
    padding: 15px;
    margin: 10px;
    border: none;
    padding: 5px 15px;
    color: white;
    background: #333;
}

.btns-line{
    
}

.cancel-btn{
    background: red;
}

.edit-wrapper{
    background: #f4f4ff;
}